<!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
				<h1 class="title">Hello</h1>
				<div class="img-responsive">
					<%= image_tag("lia_dev.small.png", class: "img-circle front-img") %>
				</div>
				<h2 class="subtitle">My name is Lia Kitamura</h2>
				<h3 class="tagline">
					I am a web developer<br>
				</h3>
			</div> <!-- /col -->
		</div> <!-- /row -->
	</div>
</section>

<!-- Second (About) section -->
<section class="section" id="about">
	<div class="container-fluid">
		<h2 class="text-center title">About me</h2>
		<div class="row about2">
			<div class="col-md-6 about-paragraph">
				<h5><strong>A short bio<br></strong></h5>
				<p>I am a developer, builder, thinker, and animal lover. Currently I live in Orem, Ut and right now work as a freelancer. Before I started as a web developer I was struggling to find something that challenged me enough and kept me interested. Then a good friend of mine, Jon Kirkman (thanks Jon) introduced me to programming, I never looked back. I self taught for awhile which was going good but then felt as if I hit a learning wall. I wasn't progressing as I liked and thats when I found Devpoint Labs. An intense 11-week developers bootcamp teaching Ruby, Rails, JS and everything else in between, working from at least 7:30 am to 7 or 8 at night. It was challenging, stressful and awesome, I learned so much!</p>
			</div>
			<div class="col-md-6 about-paragraph">
				<h5><strong>Hobbies<br></strong></h5>
				<p>I love to be outdoors expecially if its with my dogs. I enjoy camping, Mt. biking (especially downhill style) and exploring. I will try to build/fix just about anything if I can, from a website to a gundam model and I even rebuilt my carbs for my motorcycle. I also like to work with leather and make all different kinds of things. I've made holsters, sheaths, koozies, tablet / phone cases and a bunch of other random stuff.</p>
				<p><a href="https://github.com/LiaKitamura" target='_blank'>Github</a> / <a href="http://linkedin.com/pub/lia-kitamura/a0/2b5/87" target='_blank'>LinkedIn</a> / <a href="https://plus.google.com/100166343543936499109/about" target='_blank'>Google+</a></p>
			</div>
		</div>
	</div>
</section>

<!-- Third (Works) section -->
<section class="section" id="projects">
	<div class="container-fluid">
		<h2 class="text-center title">Projects</h2>
		<div class="row">
			<div class="col-md-4 col-md-offset-2">
				<div class="thumbnail">
					<img src="" alt="">
					<div class="caption">
						<h3>Sakura Gardens LLC</h3>
						<div class="description">
							<p>sakuragardensllc.com is my very first project I did. This is pre Devpoint labs. Everything on this project I made completely from scratch!</p>
						</div>
						<p><a href="http://sakuragardensllc.com/" target=_blank class="btn btn-default" role="button">See it</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="" alt="">
					<div class="caption">
						<h3>Glass Over FLowing</h3>
						<div class="description">
							<p>www.glass-overflowing.com was my capstone project at Devpoint Labs. I think a lot of what was done in the project either was not covered in class or was very briefly. The challenges faced were polymorphic associations, working with an external database, custom rake tasks and just figuring out how all these things work together.</p>
						</div>
						<p><a href="#" class="btn btn-default" role="button">See it</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="tools">
					<h4>Some tools I use : </h4>
					<div class="tool-list">
						<p>Ruby, Rails, Html5, Css3, Rspec, Pry, Sass, Postgresql, Heroku, iTerm, Atom, Acorn, Dash, Google</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Fourth (Contact) section -->
<section class="section" id="contact">
	<div class="container-fluid">
		<h2 class="text-center title">Contact Lia</h2>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<p class="lead">Have a question about me, or any suggestions about my site?</p>
				<p>Feel free to email me for questions, suggestions, or just whatever. (obviously I don't want junk or anything that isn't beneficial to anyone. You people know who you are.)</p>
				<p><b>kit4mura@gmail.com</b><br><br></p>
				<ul class="list-inline list-social">
					<li><a href="https://plus.google.com/100166343543936499109/about" class="btn btn-link"><i class="fa fa-google-plus-square fa-fw"></i></a></li>
					<li><a href="https://github.com/LiaKitamura" class="btn btn-link"><i class="fa fa-github-square fa-fw"></i></a></li>
					<li><a href="http://linkedin.com/pub/lia-kitamura/a0/2b5/87" class="btn btn-link"><i class="fa fa-linkedin-square fa-fw"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
