// *** about section *** //

#about {
  .row.about2 {
    width: 80%;
    margin: auto;
    overflow: hidden;
    max-height: 300px;
    border-radius: 10px;

    h4 {
      font-size: 20px;
    }
    div:first-child,
    .hobby {
      overflow: auto;
      min-height: 300px;
      padding: 5px 20px 20px;
    }
    div:first-child {
      height: 300px;
      border-right: 1px solid deepskyblue;
    }
    .about-paragraph {
      background: rgba(0, 0, 0, 0.3);
      color: white;
      text-align: justify;
      overflow: auto;

      .about-links {
        margin: 20px auto;
        .git {
          color: black;
        }
        .linked {
          color: #0482cc;
        }
        .googs {
          color: #e51c23;
        }
      }
    }
  }
}

// *** project section *** //

.thumbnail {
  background: rgba(0, 0, 0, 0.3);

  .project-thumb {
    text-align: center;
  }
  .caption {

    h3 {
      margin-top: 5px;
      font-size: larger;
    }
    .description {
      height: 90px;
      overflow: auto;
      font-size: large;
      a:hover {
        color: deepskyblue;
      }
    }
  }
}

.tool-list img {
  display: inline-block;
  min-width: 45px;
  min-height: 50px;
}

// *** contact *** //

#contact {
  p,
  h3 {
    font-size: 30px;
    color: ghostwhite;
  }
  h3 {
    color: paleturquoise;
    margin: 45px auto;
  }
  .list-social {
    font-size: 450%;

    .fa-google-plus-square {
      color: #e51c23;
    }
    .fa-github-square {
      color: black;
    }
    .fa-linkedin-square {
      color: #007CB0;
    }
  }
}

// **

@media (min-width: 768px) {
  // .section { padding-top:132px;}
  #about .about-paragraph {

  }
}

@media (min-width: 992px) {

}
