// *** about section *** //

.row.about2 {
  width: 80%;
  margin: auto;

  div:first-child {
    border-right: 1px solid deepskyblue;
  }
}

#about .about-paragraph {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: justify;
  overflow: auto;
}

.description {
  height: 90px;
  overflow: auto;
  font-size: large;
}

// *** project section *** //

.caption {

  h3 {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
    margin-top: 3%;
  }
}

.tool-list img {
  display: inline-block;
  min-width: 45px;
  min-height: 50px;
}

// *** contact *** //

.list-social {
  font-size: 300%;
}

// **

@media (min-width: 768px) {
  // .section { padding-top:132px;}
  #about .about-paragraph {

  }
}

@media (min-width: 992px) {

}
