// *** about section *** //

#about {
  .row.about2 {
    width: 80%;
    margin: auto;
    overflow: hidden;
    max-height: 300px;
    border-radius: 10px;

    h4 {
      font-size: 20px;
    }
    div:first-child,
    .hobby {
      overflow: auto;
      min-height: 300px;
      padding: 5px 20px 20px;
    }
    div:first-child {
      height: 300px;
      border-right: 1px solid deepskyblue;
    }
    .about-paragraph {
      background: rgba(0, 0, 0, 0.3);
      color: white;
      text-align: justify;
      overflow: auto;

      .about-links {
        margin: 20px auto;
        .git {
          color: lightskyblue;
        }
        .linked {
          color: deepskyblue;
        }
        .googs {
          color: red;
        }
      }
    }
  }
}

// *** project section *** //

.thumbnail {
  background: rgba(0, 0, 0, 0.3);

  .project-thumb {
    text-align: center;
  }
  .caption {

    h3 {
      margin-top: 5px;
    }
    .description {
      height: 90px;
      overflow: auto;
      font-size: large;
      p {

      }
    }
  }
}

n
//   p:last-child {
//     margin-bottom: 0;
//     margin-top: 3%;
//   }
// }

.tool-list img {
  display: inline-block;
  min-width: 45px;
  min-height: 50px;
}

// *** contact *** //

.list-social {
  font-size: 300%;
}

// **

@media (min-width: 768px) {
  // .section { padding-top:132px;}
  #about .about-paragraph {

  }
}

@media (min-width: 992px) {

}
